<div class="topside">
  <h1>{{title}}</h1>
  <label for="searchText">
    Search summoner</label>
    <form id="searchSummoner" action="/search" method="GET">
      <input name="summonername" id="searchText" placeholder="Summoner name" type="text">
  <button type="submit">Search</button>
  </form>
  {{{body}}}
</div>