  <div class="topside">
    <h1>{{title}}</h1>
    <label>
    <form id="searchSummoner" action="/search" method="POST">
    <input name="summonername" id="searchText" placeholder="Summoner name" type="text"></label>
    <button type="submit">Search</button>
  </form>
  </label>
    {{{body}}}
</div>