<h2>{{feedback}}</h2>
    <label for="filterchampion">Filter on champions</label>
<form action="/filter" method="GET">
    <select id="filterchampion" name="champion">
        {{#each championlist}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <input type="hidden" value="{{username}}" name="username">
    <button id="filtersubmit" type="submit">Filter</button>
</form>
<main>
{{>matches}}
</main>