<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Search your league of legends friends using this web application.">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="manifest" href="/manifest-webmanifest.json">
</head>

<body>
  {{>searchForm}}
  {{>footer}}
  <script src="/javascripts/pwa.js"></script>
  <script>
     if('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/sw.js')
        .then(function(){
          console.log("Service worker is registered")
        })
    } 


  </script>
</body>

</html>